@import "tailwindcss";

:root {
  --background: #0F0F0E;
  --foreground: #F7F7F7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-header: var(--font-header);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0E;
    --foreground: #F7F7F7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Helvetica, sans-serif;
}